<table>
  <thead>
    <tr>
       <th>Month</th>
       <th>Savings</th>
    </tr>
  </thead>
  <% @songs.each do |song| %>

  <tr>
    <th> SONGS</th>
  </tr>
  <tr>
    <td><%= song.title %></td>
  </tr>

  <% end %>
</table>

<% @songs.each do |song| %>
<div class="song">
  <span><%= song.title %></span>
  <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
</div>
<% end %>


<table>
  <thead>
  <tr>
     <th>Month</th>
     <th>Savings</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
      <td>Sum</td>
      <td>$180</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
     <td>January</td>
     <td>$100</td>
  </tr>
  <tr>
      <td>February</td>
      <td>$80</td>
  </tr>
  </tbody>
</table>
