 <table>
  <% @songs.each do |song| %>

  <tr>
    <th> SONGS</th>
  </tr>
  <tr>
    <td><%= song.title %></td>
  </tr>

  <% end %>
</table>

<% @songs.each do |song| %>
<div class="song">
  <span><%= song.title %></span>
  <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
</div>
<% end %>

